* body {
    background-size: cover;
    background-image: url("7449.png")
}
button{
    background-color:wheat;
    border-radius: 10cm;
    box-shadow: chartreuse;
    box-sizing: 10;
    padding: 20px 25px;
    height: 25;
    color: green;
    

}
/* a:hover {
    background-color: yellow;
    background-color: violet;
    color: teal;
} */
